<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
    </nav>

    <img src="/images/about.jpeg" alt="">

    <div>
        <h2>
            About Margot Robbie
        </h2>
        <p>
            Born: on 2 July 1990 in Dalby, Queensland
        <p>
            Parents: Doug Robbie, a former farm-owner and sugarcane tycoon, and Sarie Kessler, a physiotherapist.
        </p>
        <p>
            Education: She was enrolled in a circus school by her mother, where she excelled in trapeze, in which she received a certificate at age eight. In high school, Robbie studied drama at Somerset College.
        </p>
        </p>
        <p>
            In high school, Robbie studied drama at Somerset College.] As a teenager, she worked three jobs simultaneously: she tended a bar, cleaned houses, and worked at Subway. After graduation, with a few commercials and independent thriller films on her résumé, Robbie relocated to Melbourne to begin acting professionally.
        </p>
        <p>
            She is a proud member of Greenpeace.
        </p>
        <p>
            In 2014, Robbie founded her own production company, LuckyChap Entertainment.
        </p>
        <p>
            In 2016, she married Tom Ackerley in Byron Bay, New South Wales, Australia.
        </p>
    </div>
    
</body>
</html>