<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margot Robbie</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav id="navigation">
        <div class="navitems">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        </div>

    </nav>

    
    <div class="content">
        <div>
            
            <img src="/images/person.jpeg" alt="">
        </div>
        <div id="text">
            
            <h2>Margot Robbie</h2>
            <p>
               An Australian actress and producer. Born with crystal blue eyes and model good looks, Margot Robbie rose to prominence with acting roles that highlighted her physical beauty. Known for her work in both blockbuster and independent films, she has received various accolades, including nominations for two Academy Awards, four Golden Globe Awards, and five British Academy Film Awards.
            </p>
        </div>
        
    </div>
    

</body>
</html>
